body {
    margin: 0;
    position: absolute;
}

//Starting sizes and positioning of all assets and text
img {
    position: absolute;
    &.building {
        width: 450px;
        transform: translate(-75px, -45px);
    }

    &.red-banner {
        width: 300px;
        transform: translateY(-70px);
    }
    &.logo {
        width: 200px;
        height: 200px;
        transform: translate(45px, 35px);
    }
    &.office {
        display: none; //hide at start
    }
    &.title {
        display: none; //hide at start
    }
}

h1,
h2,
h3 {
    display: flex;
    color: white;
    margin: 0;
    justify-content: center;
    line-height: 1;
}
.txt-container {
    width: 300px;
    height: 250px;
    display: flex;

    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.frame-2 {
    transform: translateY(200px);
}

.lead-the-change,
.txt2A,
.txt2B {
    display: flex;
    opacity: 0;
}

.txt2A {
    line-height: 2; // extra line spacing for
}

button:hover {
    color: aqua;
    z-index: 2;
}
